body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.titulo{
    text-indent: 1.5em;
}

#nao{
    font-weight: bold;
}

#ti4 p{
    line-height: 4px;
    font-style: italic;
}
#ti4 p:nth-child(3){
    text-indent: 60px;
}

#sudoku {
    border-collapse: collapse;
    width: 400px;
    border: 3px solid #666;
}

#sudoku td{
    border: 1px solid #666;
    padding: 5px;
    text-align: center;
}

#sudoku tr:nth-child(3),
#sudoku tr:nth-child(6) {
    border-bottom: 3px solid #666;
}
#sudoku td:nth-child(3),
#sudoku td:nth-child(6) {
    border-right: 3px solid #666;
}

#ti7 small{
    color: blue;
    margin-left: 40px;
}

#btn-enquete{
    margin-top: 30px;
}

.breadhover:hover {
    color:black;
}

#q1:hover{
    background-color: #fff;
}
#q1:hover a{
    color:#4caf50 !important;
}
#q2:hover{
    background-color: #fff;
}
#q2:hover a{
    color:#2196f3 !important;
}
#q3:hover{
    background-color: #fff;
}
#q3:hover a{
    color:#5e35b1 !important;
}
#q4:hover{
    background-color: #fff;
}
#q4:hover a{
    color:#fb8c00 !important;
}
#q5:hover{
    background-color: #fff;
}
#q5:hover a{
    color:#f4511e !important;
}
#q6:hover{
    background-color: #fff;
}
#q6:hover a{
    color:#e53935 !important;
}
#q7:hover{
    background-color: #fff;
}
#q7:hover a{
    color:#880e4f !important;
}
#q8:hover{
    background-color: #fff;
}
#q8:hover a{
    color:#1a237e !important;
}
